.footer {

    // .footer__block

    &__block {
        padding: 0px 0px 55px 0px;
    }

    // .footer__container

    &__container {
    }

    // .footer__content

    &__content {
        text-align: center;
    }

    // .footer__text

    &__text {
        font-family: 'Open Sans';
        font-size: 14px;
        letter-spacing: 0.02em;
        color: #3b3b3b;
    }
}


